body { text-align: left; padding: 0px }
a { color: #0000FF }
table.countries {
	width: 100%;
	/*border:1px solid #AAA;*/
	margin-bottom: 20px;
	color: #000000;
	
}
table.countries tr.even { background: #EFEFEF }
table.countries th { background: #006; color: #FFF; font-weight: bold }
table.countries th { padding: 4px }
table.countries td:hover { background: #FFFFCC }
table.countries td { border:1px solid #AAA; padding:2px;}
