/*------------------------------------------------------------------
Collect+ by EGrappler.com
------------------------------------------------------------------*/

.info-box {
	background:#ffffff;
	border:1px solid #c9c9c9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	margin-bottom: 30px;
}

.stats-box {
	margin:40px 0px;
	color:#5f5f5f;
}
.stats-box-title {
	text-align:center;
	font-weight:bold;
}
.stats-box-all-info {
	text-align:center;
	font-weight:bold;
	font-size:48px;
	margin-top:20px;
	margin-bottom: 40px;
}
.stats-box-all-info i{
	width:60px;
	height:60px;
}